fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==1.4.52
psycopg2-binary
pydantic[email]>=2.8,<3
python-dotenv
python-jose[cryptography]
python-multipart
websockets
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
requests
numpy
Pillow
tensorflow-cpu==2.18.0
